.button {
  display: block;
  width: 120px;
  padding-top: 7px;
  padding-bottom: 7px;

  color: var(--material-color-main);
  background-color: var(--button-color-bg);
  border: 1px solid var(--material-color-main);
  border-radius: 5px;
  outline: none;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;

  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button_wrap {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 15px;
}

.button:first-of-type {
  margin-right: 10px;
}

.button:hover,
.button:focus {
  color: var(--button-color-bg);
  background-color: var(--material-color-main);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button--demo {
  color: var(--material-color-main);
  background-color: var(--button-color-demo-bg);
  border: 1px solid var(--material-color-main);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--demo::before {
  display: block;
  position: relative;
  content: "";
  width: 0;
  height: 0;
  margin-right: -5px;
  border: 9px solid transparent;
  border-left: 14px solid var(--material-color-accent);
}

.button--demo:hover,
.button--demo:focus {
  color: var(--button-color-demo-bg);
  background-color: var(--material-color-main);
}
