.header {
  text-align: left;

  max-width: var(--portfolio-min-width);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.header__job-title {
  font-size: 1.5rem;

  color: var(--accent-color);
}

@media (min-width: 760px) {
  .header {
    max-width: var(--portfolio-mid-width);
  }
}

@media (min-width: 1050px) {
  .header {
    max-width: var(--portfolio-max-width);
  }
}
