.link,
.link:visited {
  color: var(--material-color-main);
}

.link:hover,
.link:active,
.link:focus {
  color: var(--material-color-accent);
}

.link:focus {
  outline: 2px solid var(--material-color-complementary);
}
