@media print {
  :root {
    font-size: var(--font-size-print);
  }

  .navlink {
    display: none;
  }

  a,
  a:visited {
    color: var(--main-color);
  }

  .header {
    max-width: unset;
  }
}
