:root {
  --main-color: #000000;
  --accent-color: #636363;
  --button-color: #32425c;
  --button-color-bg: #ffffff;
  --button-color-demo: #63a63e;
  --button-color-demo-accent: #ff964a;
  --button-color-demo-bg: #f6feeb;
  --font-size-large: 26px;
  --font-size-regular: 20px;
  --font-size-small: 16px;
  --font-size-print: 12pt;
  --portfolio-min-width: 450px;
  --portfolio-mid-width: 700px;
  --portfolio-max-width: 1200px;

  font-size: var(--font-size-regular);
}
